/* 
CSS Job description
Group:Dread_Team_COS10026
Name:William Anthony
Date started: 5/04/2025
Date finished:
*/

.horizontal {
    width: 60%;
    margin-left: 0;
}

header hr {
    Width: 20%;
    margin-left: 0;
}

img {
    display: block;
    margin-left: auto;
    margin-right: 0;
    border-radius: 10px; 
  }
