/*
filename: styles.css
authors: Remy Amor, William Anthony, Amanuial Ashagrie
created: 28/3/2025
last modified: 28/3/2025
description: refers to index.html, jobs.html, apply.html, about.html
*/


/* Importing font family to be used */
@font-face {
     font-family: Montserrat;
     src: url(montserrat-font/MontserratMedium-nRxlJ.ttf);
}
@font-face {
     font-family: Montserrat;
     src: url(montserrat-font/MontserratBold-DOWZd.ttf);
     font-weight: bold;
}
@font-face {
     font-family: Montserrat;
     src: url(montserrat-font/MontserratBlackItalic-owBnV.ttf);
     font-style: italic;
}
@font-face {
     font-family: Montserrat;
     src: url(montserrat-font/MontserratBoldItalic-4B3w9.ttf);
     font-weight: bold;
     font-style: italic;
}

/* Style for whole site */
body {
     font-family: Montserrat, sans-serif;
     background-color: #E7ECEF;
}


/* Styles for header - RA */

header {
     border-left: 0.25em solid #8B8C89;
     border-right: 0.25em solid #8B8C89;
     margin: 3em;
     background-color: #E7ECFF;
}

header a {
     margin: 2em;
     color: #274C77;
     text-decoration: none;
}

header a:hover {
     color: #6096BA;
     font-weight: bold;
}

.grid_header {
     display: grid;
     grid-template-columns: repeat(10, 10%);
     grid-template-rows: 5% 5%;

     /* Text styling */
     font-size: 1em;
}

.header_heading {
     grid-area: 1 / 3 / 1 / 9;
     text-align: center;
}

.header_navbar {
     grid-area: 2 / 1 / 2 / 11;
     text-align: center;
     padding-bottom: 1.1em;
}


/* Styles for footer */

footer {
     border-left: 0.25em solid #8B8C89;
     border-right: 0.25em solid #8B8C89;
     margin: 3em;
     background-color: #E7ECFF;
     padding: 1%;
}

.footer_id {
     display: inline-block;
     margin-left: 3em;
}

footer a {
     text-align: right;
     color: #274C77;
     text-decoration: none;
     margin-left: 35em;
     margin-right: 3em;
}

footer a:hover {
     color: #6096BA;
     text-decoration: underline;
}


/* Styling for apply.html specific */

#apply_header {
     text-align: center;
     text-decoration: underline;
}

#apply_form_fieldset {
     margin: 10%;
     padding: 0;
}

#other_skills {
     width: 50%;
     height: 10%;
}


.form_grid {
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     grid-template-rows: repeat(12, 1fr);
     gap: 8px;
 }
     
 .name_and_dob {
     grid-column: span 3 / span 3;
     grid-row: span 2 / span 2;
     grid-column-start: 2;
     grid-row-start: 2;
 }
 
 .gender {
     grid-column: span 3 / span 3;
     grid-column-start: 2;
     grid-row-start: 4;
 }
 
 .address_and_contact {
     grid-column: span 3 / span 3;
     grid-row: span 2 / span 2;
     grid-column-start: 2;
     grid-row-start: 5;
 }
 
 .apply_skills {
     grid-column: span 3 / span 3;
     grid-row: span 4 / span 4;
     grid-column-start: 2;
     grid-row-start: 7;
 }
 
 .apply_other_skills {
     grid-column: span 3 / span 3;
     grid-row: span 2 / span 2;
     grid-column-start: 2;
     grid-row-start: 11;
 }
         